{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de salario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="vertical-center" id="main-container">        
        <h1 class="text-center" id="title">Calculadora de salario neto</h1>
        <form action="" method="POST" id="salaryForm">
            <div id="salaryDiv" class="">
                <label>Salario base (en DOP)</label>
                <input type="number" class="form-control" required placeholder="0.0" step=".01" name="Base salary" id="base_salary">
                <div class="form-text">Debes escribirlo sin comas y, en caso de tener decimales, solo con dos decimales</div>
            </div>
            <div id="hoursDiv">
                <label>Horas extras (en DOP)</label>
                <input type="number" placeholder="0.0" step=".01" class="form-control" name="Horas extras" id="extra_hours">
            </div>
            <div id="bonificationsDiv">
                <label>Bonificaciones (en DOP)</label>
                <input type="number" placeholder="0.0" step=".01" class="form-control" name="Bonificaciones" id="bonifications">
            </div>
            <button type="submit" class="btn btn-success" id="submitButton">Calcular</button>
        </form>
    </div>
    
    <div class="modal fade" id="staticModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Resultados</h1>
            </div>
            <div class="modal-body alert-sucess">
                <p><b>Salario base:</b> <span id="baseSalaryP">0.0$ DOP</span></p>
                <p><b>Bonificaciones:</b> <span id="bonificationsP">0.0$ DOP</span></p>
                <p><b>Horas extras:</b> <span id="extraHours">0.0$ DOP</span></p>
                <p><b>Seguro Familiar de Salud (SFS):</b> <span id="sfs"></span></p>
                <p><b>Administradora de Fondo de Pensiones (AFP):</b> <span id="afp"></span></p>
                <p><b>Impuesto Sobre la Renta (ISR):</b> <span id="isr"></span></p>
                <p><b>Retenciones:</b> <span id="retentions"></span></p>
                <p><b>Salario neto mensual:</b> <span id="netSalary"></span></p>
            </div>
          </div>
        </div>
    </div>
      
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
</body>
</html>